<div class="container-fluid main-search">
	<div class="row header-menu col-md-10 col-md-offset-1">
		<div class="text-center col-md-3">
			<%= link_to( root_path , :title => "Come back to Home", :class => "logo-text") do %>
				<h1>bingBing</h1>
			<% end %>
		</div>
		<div class="text-center col-md-9 search-box">
			<div class="row">
				<form action="<%= image_path %>" method="get" id="search_form" class="col-md-12">
					<%= text_field_tag :search_keyword, params[:search_keyword], placeholder: "Search image, ex: ocean . . .", :class => "col-md-11" %>
					<%= button_tag(type: "submit", :name => nil, :class => "col-md-1") do %>
						<i class="fa fa-search" id="search_button"></i>
					<% end %>
				</form>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="main-image col-md-12">
		<% if @result_data_image_array && @result_data_image_array["notice"] == "success" %>
			<% @result_data_image_array["data"].each do |image| %>
				<div class="grid-image">
					<div class="image-box">
						<img src='<%= image["url"] + "_m.jpg" %>' alt="<%= image["title"]%>" class="image-result">
						<div class="image-layout">
							<a href='<%= image["url"] + "_b.jpg" %>' target="blank"><button><i class="fa fa-link"></i></button></a>
						</div>
					</div>
				</div>
			<% end %>
		<% else %>
			<h2 class="text-center nodata"><%= @result_data_image_array["data"] %></h2>
		<% end %>
	</div>
	<div class="clearfix"></div>
	<%= render "layouts/footer" %>
</div>